<div class="hidden-print">
    <div uib-alert ng-repeat="alert in vm.getAlerts()" ng-class="'alert-' + (alert.type || 'warning')" close="vm.remove($index)"><div ng-bind-html="alert.message"></div></div>
</div>
