@import "~bootstrap/less/bootstrap";
@import "~bootstrap/less/variables";

.navbar-brand {
    white-space: nowrap;

    span {
        vertical-align: middle;
    }
}

.navbar-brand > .navbar-brand-image {
    max-height: @line-height-computed;
    max-width: @line-height-computed;
    height: @line-height-computed;
    width: @line-height-computed;
    display: inline-block;
}

body {
    padding-top: @navbar-height + 20;
}

[ng\:click], [ng-click], [data-ng-click], [x-ng-click], .ng-click, .x-ng-click {
    cursor: pointer;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.resource-count {
    float: right;
    margin: 15px 0;
    height: 29px;
    line-height: 29px;
}

.m-10-0{
    margin:10px 0;
}
