<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" ui-sref="main.home"><img alt="FreshRealm UPS Integration" ng-src="{{ mvm.logoUrl }}" class="navbar-brand-image"><span class="hidden-xs"> FreshRealm UPS Integrations</span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="main.home">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="mvm.logout()">Log Out</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div class="container">
    <fr-alerts-display></fr-alerts-display>

    <ui-view></ui-view>
</div>
